DATABASE_URL=postgresql://new_db:U7hvRr2By0Ji3Vy5H823XEivMUIzvHiD@dpg-dafrb2lg1s2s73fr40o0-a.singapore-postgres.render.com/flowsense
FLOWSENSE_API_URL=http://127.0.0.1:8000
GOOGLE_CLIENT_ID=11155430924-chbjnu0qi2fg6ol33t3q07gdtksa0ma3.apps.googleusercontent.com
